@charset "utf-8";

.loopSlide {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  overflow: hidden;
}
.loopSlide ul {
  padding: 0;
  width: 100vw;
  display: flex;
  flex-shrink: 0;
}
.loopSlide ul:first-child {
  animation: slide1 60s -30s linear infinite;
}
.loopSlide ul:last-child {
  animation: slide2 60s linear infinite;
}
.loopSlide ul li {
  display: inline-block;
  width: 100%;
  min-width: 150px;
  margin-right: 20px;
  list-style: none;
  text-align: center;
}
.loopSlide ul li img {
  display: block;
  width: 100%;
  height: auto;
}
.loopSlide:hover ul {
  /* animation-play-state: paused; */
}

@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
